div{
    background-color:aqua;
    padding:2px;
    margin:2px;
    color:black;
    text-align:center;
}

#qoute1{
    text-align:center;
    color:silver;
    font-family:'Comic Sans MS';
    text-decoration:underline;
}
