div{
    background-color:aqua;
    padding:2px;
    margin:2px;
    color:black;
    font-family:'Times New Roman', Times, serif
}

#qoute{
    text-align:center;
    color:silver;
    font-family:'Comic Sans MS';
    text-decoration:underline;
}
